.login-container { 
    color: #FFFFF7;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 400px;
}

.t-c {
    text-align: start;    
    margin-bottom: 20px;
}

.input {
    margin-bottom: 30px;
}

.name {
    font-size: 17px;
}

input[type="text"], input[type="password"] {
    border: none;
    color: rgba(255, 255, 255, 0.63);
    font-size: 20px;
    background-color: transparent;
    border-bottom: solid 1px #5a5a5a;
    width: 20rem;
    transition: border-bottom 1s;
}
input[type="text"]:focus , input[type="password"]:focus {
    border-bottom: solid 1px #6B5B95;
    outline: 0;
}
input::placeholder {
    color: #fffff78e;
}

#password {
    margin-bottom: 50px;
}


.sing-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singup-btn {
    width: 100px;
    height: 60px;
    color: rgb(218, 218, 218);
    border: 0;
    background-color: #6B5B95;
    border: solid 1px black;
    border-radius: 100px;
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}
.singup-btn:hover {
    transform: scale(1.1);
}
.singup-btn:active {
    background-color: #5e4f81;
}

.singin-link {
    color: gray;
    font-size: 20px;
    transition: all 1s;
}
.singin-link:hover {
    color: rgb(192, 192, 192);
    font-size: 20px;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

#agree {
    text-align: center;
    width: 20rem;
    font-size: 18px;
}

.checkbox {
    cursor: pointer;
}

@media (max-width: 900px) {
    .login-container {
        
  }
}